@import '../../scss/variables.scss';

.FullProduct {
    background-color: $white;
    padding-bottom: 32px;
    margin-bottom: 32px;

    h1, h2 {
      margin: 0;
    }

    .product-wrap
    {
        padding: 32px;
        color: $brown-dark;

        h1 {
            font-size: 24px;
            padding-top: 16px;
        }

        .product-resume {
            padding-left: 16px;

            .item-condition {
                font-size: 14px;
                display: inherit;
            }

            .product-price {
                display: inherit;
                font-size: 46px;
                padding: 32px 0px 32px 0px;
            }

            .price-decimals {
              font-size: 18px;
              height: 20px;
              left: -0px;
              line-height: 1;
              position: relative;
              top: -25px;
              line-height: 2;
            }

            .product-image {
                max-width: 680px;
            }

            .buy-now {
                background-color: $blue-buy;
                border: none;
                color: $white;
                float: left;
                font-size: 16px;
                padding: 10px;
                border-radius: 4px;
                width: 100%;
            }
        }
    }

    .product-description {
        padding-left: 32px;
        white-space: pre-line;

        p {
            font-size: 16px;
            color: $grey-medium;
            padding: 0;
        }

        h2 {
            font-size: 28px;
            padding-bottom: 32px;
        }
    }
}

#img-picture {
  width: 680px;
  @media only screen and (max-width: 1200px) {
    width: 100%;
  }
}
