@import '../../scss/variables.scss';

.FullProduct {
    background-color: $white;
    margin-bottom: 32px;

    h1, h2 {
        margin: 0;
    }

    .product-wrap
    {
        padding: 32px;
        color: $brown-dark;

        h1 {
            font-size: 24px;
            padding-top: 16px;
            display: block;
        }

        .product-resume {
            padding-left: 16px;

            .item-condition {
                font-size: 14px;
                display: inherit;
            }

            .product-price {
                display: inherit;
                font-size: 46px;
                padding: 32px 0px 32px 0px;
            }

            .product-image {
                max-width: 680px;
            }

            .buy-now {
                background-color: $blue-buy;
                border: none;
                color: $white;
                float: left;
                font-size: 16px;
                padding: 10px;
                width: calc(100% - 32px);
            }
        }

        .product-description {
            p {
                font-size: 16px;
                color: $grey-medium;
            }

            h2 {
                font-size: 28px;
                padding: 0px 0px 32px 0px;
            }
        }

    }
}

#img-picture {
  width: 680px;
  @media only screen and (max-width: 1200px) {
    width: 100%;
  }
}
